@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
	p {
	 @apply m-0;
	}
}


* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: clamp(2rem, 2rem + 3vw, 5rem);  
	font-weight: 100;
	font-style: italic;
	background-color: #444;
	overflow: hidden;
	margin-top: 3.2rem;	
	padding: 0; 

}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-template-rows: minmax(auto, 10rem) minmax(auto, 12rem) auto minmax(auto, 12rem);
	justify-items: center;
	column-gap: clamp(1.2rem, 1.5vw, 1.8rem);
	row-gap: clamp(2.8rem,  2.5vw, 3.2rem);

	width: min(100%, 38rem);
	margin: 0 auto; 			/* to be centered properly */
	height: 88vh;
	background-image: linear-gradient(#395ADF 30%, #2DD6FD 100%);
	border-radius: 1.5rem;
}

.grid {
	background-image: 
  	linear-gradient(to right, rgba(200,200,200,0.1) 1px, transparent 1px),
  	linear-gradient(to bottom, rgba(200,200,200,0.1) 1px, transparent 1px);
  	background-size: 50px 50px;
}

.time {
	grid-column: 1 / 4;
	grid-row: 1;
	align-self: end;
}

@keyframes pulse {
	0% { transform: scale(1); }
	45% { transform: scale(1.3); }
}

.Sun {
	grid-column: 1 / 4;
	grid-row: 2;
	align-self: center;
} 

@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

button:hover {
	box-shadow: 0 0 1rem 0 blue;
}

	
.searchBtn {
	grid-column: 1 / 4;
	grid-row: 3;
    justify-self: start;
	align-self: start;
	text-align: center;
	width: 3.2rem;
	height: 3.5rem;
	background-color: #B1B7FF;
	border-radius: 5rem;
	display: flex;
	justify-content: start;
	align-items: center;
	margin-left: 3rem;
	border: 0;
	box-shadow: 7px 2px 2px rgba(50, 50, 50, 0.5);
}

svg {
	width: 1.5rem;
	height: 1.5rem;
	transform: rotate(90deg);
	margin: 0.5rem;
	transition: all 0.5s ease;
}

input {
	transition: width 0.4s ease-in;
	font-size: 1.3rem;
	width: 80%;   /* relative to its container size */
	height: 2.5rem;
	line-height: 2rem;
	padding-left: 1rem;
	background-color: #B1B7FF;
	border-color: unset;
}

.PHolder {
	width: clamp(13rem, 12rem + 5vw, 20rem);
	height: clamp(2rem, 1rem + 3vh, 4rem);
	background-color: #FFFFFF93;
	grid-column: 1 / 3;
	grid-row: 3;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	margin: 0 0 5rem 3.1rem;
	transition: width 0.5s ease-out;

}

.barXplaceholder {
	display: flex;
	flex-direction: column;
	grid-column: 1 / 4;
	grid-row: 3;
	justify-self: start;
	align-self: start;
	gap: 1rem;
}

.textCard {
	background: linear-gradient(to right,#FFFFFF00 17%, #FFFFFF 70%);
	width: clamp(10rem, 12rem + 10vw, 16rem);
	height: clamp(5rem, 4rem + 20vh, 8rem);	
	border-radius: 1.2rem;
	font-size: 1.5rem;
	grid-column: 1 / 4;
	grid-row: 2;
	justify-self: center;
	align-self: end;
	text-align: center;
	display: flex;
	align-items: center;
	transition: all 1s ease;

}


.Tree {
	grid-column: 3;
	grid-row: 4;
	align-self: center;
}

@keyframes slide {
	0% { transform: translateX(0); }
	45% { transform: translateX(-600px) scaleX(-1); }
}

/* Tailwind Utility Classes... */

@layer utilities {
    .high-temprature {
        @apply bg-gradient-to-r from-orange-500 via-orange-400 via-yellow-400 via-80% to-gray-300;
    }

    .rounded {
        @apply rounded-[1.3rem] sm:rounded-2xl md:rounded-3xl;
    }

    .text-size {
        @apply text-xl sm:text-[1rem] md:text-2xl;
    }

    .width {
        @apply w-full max-w-[26rem] min-w-[22rem] sm:max-w-[20rem] sm:min-w-[18rem]
		md:max-w-[34rem] md:min-w-[26rem] lg:max-w-[36rem]; 
    }
    .height {
        @apply h-[14rem] sm:h-[11rem] md:h-[18rem] lg:h-[19rem]; 
    }

	.cardGradient {
		@apply bg-gradient-to-r from-indigo-50 from-30% via-gray-50/30 via-60% to-gray-50/0 to-85%;
	}

}

/* Plain CSS Utility Classes */
@layer utilities {
    .text-shadow {
        text-shadow: 1px 5px 10px #55555566;
    }
    .shadow {
        box-shadow: 3px 12px 7px 0 #22222266;
    }

    .drop-shadow {
        filter: drop-shadow(2px 8px 3px #55555588);
    }

} 